{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">All Reviews</h2>
    <div class="row">
        {% for review in reviews %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ review.product.name }}</h3>
                    <p class="card-text"><strong>User:</strong> {{ review.user.username }}</p>
                    <p class="card-text"><strong>Rating:</strong>
                        {% for star in "12345" %}
                            {% if forloop.counter <= review.rating %}
                                <img src="{% static 'images/filled_rocket.png' %}" alt="Filled rocket" style="width: 20px; height: 20px;">
                            {% else %}
                                <img src="{% static 'images/unfilled_rocket.png' %}" alt="Unfilled rocket" style="width: 20px; height: 20px;">
                            {% endif %}
                        {% endfor %}
                    </p>                    
                    <p class="card-text">{{ review.comment }}</p>
                    <!-- Edit link for the user's own review -->
                    {% if user.is_authenticated and user == review.user %}
                    <a href="{% url 'reviews:edit_review' review_id=review.id %}" class="btn btn-secondary btn-sm">Edit</a>
                    {% endif %}
                </div>
                {% if review.image %}
                <img src="{{ review.image.url }}" class="card-img-bottom" alt="Review image" style="max-width: 50%; height: auto;">
                {% endif %}
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>No reviews yet...</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
