{% extends 'base.html' %}

{% block content %}
<div class="overlay"></div>
<main class="container mt-5 pt-5">
    <h1>Frequently Asked Questions (FAQ)</h1>
    <div class="faq-container">
        <h2>General Questions</h2>
        <p><strong>Q: Where are Cosmos Watches made?</strong><br>
        A: Cosmos Watches are designed in Sweden, with materials sourced globally to ensure the highest quality.</p>

        <p><strong>Q: What makes Cosmos Watches unique?</strong><br>
        A: Our watches are inspired by the beauty and mystery of the cosmos. Each piece is crafted with precision and designed to celebrate the wonder of the universe.</p>

        <p><strong>Q: Can I return a watch if I'm not satisfied?</strong><br>
        A: Yes, we offer a 30-day return policy on all our watches, provided they are returned in their original condition.</p>

        <p><strong>Q: Do you offer international shipping?</strong><br>
        A: Yes, we ship globally for free.</p>

        <p><strong>Q: How do I care for my watch?</strong><br>
        A: Keep your watch clean with a soft, dry cloth. Avoid exposure to extreme temperatures and chemicals. For mechanical watches, regular servicing is recommended.</p>
    </div>
</main>
{% endblock %}
