{% extends "base.html" %}
{% load static %}

{% block overlay %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100 pt-5">
    <div class="row h-100 align-items-center">
        <!-- Text Container -->
        <div class="col-md-6 text-container text-center text-md-start">
            <h1 class="display-4 logo-font text-white bg-dark-75">
                Your Universe on Your Wrist
            </h1>
            <div class="my-5">
                <h2>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h2>
            </div>
        </div>
        <!-- Image Container -->
        <div class="col-md-6 image-container text-center">
            <img src="https://pp5-project.s3.eu-north-1.amazonaws.com/media/product_images/dEssor-back-HQ-Diagonal.webp" 
                 alt="d’Essor Watch Back" class="responsive-img">
        </div>
    </div>
</div>

<style>
    .text-container, .image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .responsive-img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    @media (max-width: 768px) {
        .row {
            flex-direction: column;
            text-align: center;
        }

        .image-container {
            order: 2; /* Moves image below text */
            margin-top: 20px;
        }
    }
</style>
{% endblock %}
