{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="error-404 d-flex justify-content-center align-items-center">
    <div class="error-404-text-content p-4">
        <h1>Oops! You're lost in space.</h1>
        <p>The page you're looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
        <div class="buttons mt-4">
            <a href="{% url 'home' %}" class="btn btn-black">Take Me Home</a>
            <a href="javascript:history.back()" class="btn btn-black">Go Back</a>
        </div>
    </div>
</div>
{% endblock %}
