<footer class="footer bg-black text-white mt-3">
    <div class="container text-center py-3">
        <div class="social-links">
            <!-- Facebook Link -->
            <a href="https://www.facebook.com/cosmossweden/" target="_blank" rel="noopener" class="text-white mx-2">
                <i class="fab fa-facebook"></i> Facebook
            </a>
            <!-- Instagram Link -->
            <a href="https://www.instagram.com/cosmos_sweden/" target="_blank" rel="noopener" class="text-white mx-2">
                <i class="fab fa-instagram"></i> Instagram
            </a>
        </div>
        &copy; {{ now.year }} Cosmos Watches. All Rights Reserved.
    </div>
</footer>
