<footer class="footer bg-black text-white mt-3">
    <div class="container">
        <div>
        <div class="row py-3">
            <!-- Social Links -->
            <div class="col-md-4 mb-3 footer-social-text">
                <h3 class="footer-header">Follow us</h3>
                <a href="https://www.facebook.com/cosmossweden/" target="_blank" rel="noopener" class="text-white d-block mb-2">
                    <i class="fab fa-facebook"></i> Facebook
                </a>
                <a href="https://www.instagram.com/cosmos_sweden/" target="_blank" rel="noopener" class="text-white d-block mb-2">
                    <i class="fab fa-instagram"></i> Instagram
                </a>
            </div>

            <!-- Additional Links -->
            <div class="col-md-4 mb-3 footer-info-text">
                <h3 class="footer-header">Info</h3>
                <a href="{% url 'faq' %}" class="text-white d-block mb-2">FAQ</a>
                <a href="{% url 'contact' %}" class="text-white d-block mb-2">Contact</a>
                <a href="{% url 'about' %}" class="text-white d-block mb-2">About</a>
                <a href="{% url 'policy' %}" class="text-white d-block mb-2">Privacy Policy</a>
            </div>

            <!-- Newsletter Signup -->
            <div class="col-md-4 mb-3" id="mc_embed_shell">
                <h3 class="footer-header subscribe-text">Subscribe</h3>
                <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
                <div id="mc_embed_signup">
                    <form action="https://herokuapp.us8.list-manage.com/subscribe/post?u=16b5b0bc247a7c690ef261d15&amp;id=70ce1168dd&amp;f_id=000a05e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address</label>
                                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="">
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <!-- Hidden form field to prevent bot submissions -->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_16b5b0bc247a7c690ef261d15_70ce1168dd" tabindex="-1">
                            </div>
                            <div class="clear foot subscribe-btn-container">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe-btn btn btn-light btn-sm">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Mailchimp script -->
                <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
                <script>
                (function($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0] = 'EMAIL'; ftypes[0] = 'email';
                    // Additional fields can be added here
                })(jQuery);
                var $mcj = jQuery.noConflict(true);
                </script>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="text-center py-3">
            &copy; {{ current_year }} Cosmos Watches. All Rights Reserved.
        </div>
    </div>
</div>
</footer>
