{% load static %}

  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-black" href="#" id="watchesDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Discover Our Watches
          </a>
          <ul class="dropdown-menu" aria-labelledby="watchesDropdown">
            <li><a class="dropdown-item" href="{% url 'products' %}?category=bigbang">Big Bang Collection</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=solar">Solar System Series</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=luna">Luna Line</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=solar,bigbang,luna">All Watches</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-black" href="#" id="productsDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Explore Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="productsDropdown">
            <li><a class="dropdown-item" href="{% url 'products' %}?category=accessories">Accessories</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=clearance">On sale</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-black" href="#" id="sortDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Sort Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="sortDropdown">
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price (Low to High)</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">Price (High to Low)</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">Rating (High to Low)</a></li>
          </ul>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'products' %}" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
    
    </div>
  </div>