{% load static %}

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                Explore Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item" role="menuitem">Shop by Price</a>
                <a href="" class="dropdown-item" role="menuitem">Shop by Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item" role="menuitem">Browse Categories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="our-watches-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                Discover Our Watches
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="our-watches-link">
                <a href="" class="dropdown-item" role="menuitem">Big Bang Collection</a>
                <a href="" class="dropdown-item" role="menuitem">Solar System Series</a>
                <a href="" class="dropdown-item" role="menuitem">Luna Line</a>
                <a href="{% url 'products' %}" class="dropdown-item" role="menuitem">View All Watches</a>
            </div>
        </li>
    </ul>
</div>
