{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center">{% trans "Sign In" %}</h2>
          <hr>
          {% get_providers as socialaccount_providers %}
          {% if socialaccount_providers %}
          <div class="text-center mt-2">
            <p>{% trans "Sign in using one of your existing third party accounts:" %}</p>
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            <p class="my-3">{% trans "or" %}</p>
          </div>
          {% endif %}
          <form method="POST" action="{% url 'account_login' %}" class="px-4">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
              <button type="submit" class="btn btn-black btn-block">{% trans "Sign In" %}</button>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
