{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="vh-100 d-flex align-items-center justify-content-center">
  <div class="text-center bg-white p-4 shadow rounded" style="width: 22rem;">
    
    <h1 class="h3 mb-3 font-weight-normal">{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p class="mb-3">{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot mb-3">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
      <div class="login-or">{% trans 'or' %}</div>
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p class="mb-3">{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="mb-3">
        <a class="btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
      <button type="submit" class="btn btn-lg btn-black">{% trans "Sign In" %}</button>
    </form>
    
  </div>
</div>
{% endblock %}
