{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center">{% trans "Change Password" %}</h2>
          <hr>
          <form method="POST" action="{% url 'account_change_password' %}" class="px-4">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
              <button type="submit" class="btn btn-black btn-block" name="action">{% trans "Change Password" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
