{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<style>

    .btn.btn-black {
        transition: background-color 0.3s ease-in-out;
      }
    
      .btn.btn-black:hover {
        background-color: #45a049;
      }
      
    @media (max-width: 576px) {
      .col-sm-6.col-md-6.col-lg-4.col-xl-3 {
        border-bottom: 1px solid gray;
        padding-bottom: 15px;
      }
    }

    @media (min-width: 992px) { /* Apply only for larger screens */
        .card-img-top.img-fluid {
          transition: transform 0.3s ease-in-out;
        }
      
        .card-img-top.img-fluid:hover {
          transform: scale(1.1); /* Slight zoom */
        }
      }
  </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center mt-3 mb-4">
                <div class="sorting">
                    <select id="sort-by" class="custom-select" onchange="location = this.value;">
                        <option value="">Sort by price & rating</option>
                        <option value="{% url 'products' %}?sort=price&direction=asc">Price (Low first)</option>
                        <option value="{% url 'products' %}?sort=price&direction=desc">Price (High first)</option>
                        <option value="{% url 'products' %}?sort=rating&direction=desc">Rating (High to Low)</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="product-card card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_info' product_id=product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-center">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">
                                                {% if product.sale_price %}
                                                    <span style="text-decoration: line-through;">{{ product.price }} SEK</span>
                                                    <span class="text-danger">{{ product.sale_price }} SEK</span>
                                                {% else %}
                                                    {{ product.price }} SEK
                                                {% endif %}
                                            </p>                                            
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% endif %}
                                            {% if product.sold %}
                                                <p class="text-danger mt-3"><strong>Sold Out</strong></p>
                                            {% else %}
                                                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                    <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-3" value="Add to Cart">
                                                </form>
                                            {% endif %}
                                            {% if request.user.is_staff or request.user.is_superuser %}
                                                <a href="{% url 'edit_product' product.id %}" class="btn btn-warning mt-3">Edit product</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
